{% extends 'base.html' %}

{% block content %}
<div class="shadow card" style="width: 40rem;">

              <div class="card-body">

                 <h5 class="card-title">{{task.name}}</h5>
                  <p class="card-text">{{task.priority}}</p>
                  <p><b>{{task.date}}</b></p>
                  <a href="{% url 'delete' task.id %}" class="btn btn-danger">Done</a>
                     <a href="{% url 'update' task.id %}" class="btn btn-success">update</a>
              </div>

        </div>
{% endblock %}